{% extends 'base.html' %}

{% block main %}
<h1>Lista de Livros</h1>
    {% for livro in livros_list %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{livro.capa.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{livro.title}}</h5>
                    <p class="card-text">{{livro.sinopse}}</p>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock main %}