{% extends 'painel_admin/base_admin.html' %}
{% block main %}
<h1>Todos os usuários</h1>
    <div class="row row-cols-2 row-cols-md-0 g-4">
        {% for u in user_view %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{u}}</h5>
                    {% if u.is_superuser %}
                        <h6 class="card-subtitle mb-2 text-muted">Admin</h6>
                    {% endif %}
                    
                    <a href="{% url 'users:update_users' pk=u.id %}" class="btn">Editar</a>
                    <a href="{% url 'users:delete_users' pk=u.id %}" class="btn btn-danger">Deletar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}aaa